{% extends "base.html" %}

{% block page_content %}
{% load static %}
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">Last Prediction Result</h6>
                            <h5 class="h3 mb-0">F-Score</h5>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <!-- Chart wrapper -->
                        <canvas id="f-score-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">Last Prediction Result</h6>
                            <h5 class="h3 mb-0">Chi-Square</h5>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <!-- Chart wrapper -->
                        <canvas id="chi-square-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">Last Prediction Result</h6>
                            <h5 class="h3 mb-0">CFS</h5>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <!-- Chart wrapper -->
                        <canvas id="cfs-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
{% endblock %}

{% block footer_js %}
<script>
    $(document).ready(function () {
        chart_data("f_score", "F-Score", $("#f-score-chart"));
        chart_data("chi_square", "Chi-Square", $("#chi-square-chart"));
        chart_data("cfs", "CFS", $("#cfs-chart"));
    });

    function chart_data(fs_algorithm, title, chart) {
        $.ajax({
            url: `/predicts/api/fs_last_result/${fs_algorithm}/`,
            method: 'GET',
            success: function (res) {
                const response = res.data;
                var chartData = {
                    datasets: [{
                            label: `${title} Result`,
                            borderColor: 'red',
                            backgroundColor: 'rgba(255,0,0,0.5)',
                            data: response.prediction_results,
                            showLine: false,
                        },
                        {
                            label: 'Trend',
                            data: response.real_data,
                            type: 'line',
                            pointRadius: 0,
                            borderColor: 'yellow',
                            backgroundColor: 'rgba(255,255,255,0.0)',
                        }
                    ]
                };
                drawChart(chartData, title, chart);
            }
        });
    }

    function drawChart(dataset, title, chart) {
        var scatterChart = new Chart(chart, {
            type: 'scatter',
            data: dataset,
            options: {
                title: {
                    display: true,
                    text: `${title} Result`,
                },
                responsive: true, // Instruct chart js to respond nicely.
                maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
            }
        });
    }

    function getPredictionId(id) {
        $.ajax({
            url: `/predicts/prediction_result/${id}/`,
            method: 'GET',
            success: function (res) {
                let response = res.data;
                console.log(response);
                var scatterChartData = {
                    datasets: [{
                            label: 'Prediction Result',
                            borderColor: 'red',
                            backgroundColor: 'rgba(255,0,0,0.5)',
                            data: response.prediction_results,
                            showLine: false,
                        },
                        {
                            label: 'Trend',
                            data: response.real_data,
                            type: 'line',
                            pointRadius: 0,
                            borderColor: 'yellow',
                            backgroundColor: 'rgba(255,255,255,0.0)',
                        }
                    ]
                };
                drawChart(scatterChartData);
            }
        });
    }
</script>
{% endblock %}