{% extends "base.html" %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'select2/select2.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'multistep-form/multistep.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" type="text/css">
<script src="{% static 'leaflet/leaflet.js' %}"></script>

<style>
  #poverty-mapping {
    height: 350px;
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }

  .legend {
    text-align: left;
    line-height: 18px;
    color: #555;
  }

  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }

  #js-chart-box {
    display: none;
  }
</style>
{% endblock %}

{% block page_content %}
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl">
      <div class="card">
        <div class="card-body">
          <div class="multisteps-form">
            <!--progress bar-->
            <div class="row">
              <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                <div class="multisteps-form__progress">
                  <button class="multisteps-form__progress-btn js-active" type="button" title="Choose">ML Model
                  </button>
                  <button class="multisteps-form__progress-btn" type="button" title="Address">Data Train</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Order Info">Predict</button>
                </div>
              </div>
            </div>
            <!--form panels-->
            <div class="row">
              <div class="col-12 col-lg-8 m-auto" id="js-form-container">
                <form class="multisteps-form__form" id="predictor-form">
                  {% csrf_token %}
                  <!--single form panel-->
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" id="choose-model"
                    data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Create or Choose ML Model</h3>
                    <div class="multisteps-form__content">
                      <div class="custom-control custom-checkbox mb-4">
                        <input type="checkbox" class="custom-control-input" id="use-default-model" name="default_model"
                          checked>
                        <label class="custom-control-label" for="use-default-model">
                          Use Default Model
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Use best machine learning model to predict dataset"></i>
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="available-model" class="form-control-label">
                          Available Model
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Use available model from conducted experiment"></i>
                        </label>
                        <select name="existing_model" class="form-control" id="available-model" disabled>
                          <option value="">Select Available Model</option>

                          {% for data in saved_ml_model %}
                          <option value="{{ data.id }}">{{ data.name }} - {{ data.accuracy_value }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="row mb-4">
                        <div class="col-12">
                          <h3>Model Detail</h3>
                          <div id="js-div-model-detail" style="display: none;">
                            <span class="row">
                              <span class="col">Feature Selection Used</span>
                              <span class="col float-right" id="js-model-fs-used"></span>
                            </span>
                            <span class="row">
                              <span class="col">R<sup>2</sup> Value</span>
                              <span class="col float-right" id="js-model-r2-value"></span>
                            </span>
                            <span class="row">
                              <span class="col">RMSE Value</span>
                              <span class="col float-right" id="js-model-rmse-value"></span>
                            </span>
                            <span class="row">
                              <span class="col">Total Features Used</span>
                              <span class="col float-right" id="js-model-total-features-used"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="custom-control custom-checkbox mb-4">
                        <input type="checkbox" class="custom-control-input" id="use-my-own-model" name="new_model"
                          disabled>
                        <label class="custom-control-label" for="use-my-own-model">
                          Create New Model
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Try to experiment with new model"></i>
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="feature-selection" class="form-control-label">
                          Feature Selection Algorithm
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Use feature selection to select better features to be predicted"></i>
                        </label>
                        <select name="feature_selection" class="form-control" id="feature-selection" disabled>
                          <option value="f_score">F-Score</option>
                          <option value="chi_square">Chi-square</option>
                          <option value="cfs">Correlation-based Feature Selection</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="regularization-input" class="form-control-label">
                          Regularization (C)
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Hyperparameter for SVR which aim ..."></i>
                        </label>
                        <input type="number" class="form-control" id="regularization-input" name="regularization"
                          placeholder="Regularization (default 1.0)" step=".01" disabled>
                      </div>
                      <div class="form-group">
                        <label for="epsilon-input" class="form-control-label">
                          Epsilon
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Hyperparameter for SVR which aim ..."></i>
                        </label>
                        <input type="number" class="form-control" id="epsilon-input" name="epsilon"
                          placeholder="Epsilon (default 1.0)" step=".01" disabled>
                      </div>
                    </div>
                    <div class="button-row d-flex mt-4">
                      <button class="btn btn-primary ml-auto js-btn-next" id="step-1" type="button"
                        title="Next">Next</button>
                    </div>
                  </div>
                  <!--single form panel-->
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" id="choose-dataset"
                    data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Choose Training Dataset</h3>
                    <div class="multisteps-form__content">
                      <div class="form-group">
                        <label for="available-dataset" class="form-control-label">
                          Available Training Dataset
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Available dataset to be used for training"></i>
                        </label>
                        <select name="existing_dataset" class="form-control" id="available-dataset">
                          <option value="">Select Available Dataset</option>

                          {% for data in dataset_profiles_data %}
                          {% if data.type == 'training' %}
                          <option value="{{ data.id }}">{{ data.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="row mb-4">
                        <div class="col-12">
                          <div id="js-div-dataset-detail" style="display: none">
                            <h3>Dataset Detail</h3>
                            <span class="row">
                              <span class="col">Total Rows</span>
                              <span class="col float-right" id="js-dataset-total-rows"></span>
                            </span>
                            <span class="row">
                              <span class="col">Valid Date</span>
                              <span class="col float-right" id="js-dataset-valid-date"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col-12">
                          <p>Add Dataset</p>

                          <button type="button" class="btn btn-success" id="js-add-dataset-training-button"
                            data-toggle="modal" data-target="#js-add-training-dataset-modal">Add Dataset</button>
                        </div>
                      </div>
                    </div>
                    <div class="button-row d-flex mt-4">
                      <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                      <button class="btn btn-primary ml-auto js-btn-next" id="step-2" type="button"
                        title="Next">Next</button>
                    </div>
                  </div>
                  <!--single form panel-->
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" id="choose-testing-dataset"
                    data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Predict Dataset</h3>
                    <div class="multisteps-form__content">
                      <div class="form-group">
                        <label for="available-testing-dataset" class="form-control-label">
                          Available Predictable Dataset
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Available dataset to be predicted"></i>
                        </label>
                        <select name="existing_training_dataset" class="form-control" id="available-testing-dataset">
                          <option value="">Select Available Dataset</option>

                          {% for data in dataset_profiles_data %}
                          {% if data.type == 'testing' %}
                          <option value="{{ data.id }}">{{ data.name }}</option>
                          {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="row mb-4">
                        <div class="col-12">
                          <div id="js-div-dataset-testing-detail" style="display: none">
                            <h3>Dataset Detail</h3>
                            <span class="row">
                              <span class="col">Total Rows</span>
                              <span class="col float-right" id="js-dataset-testing-total-rows"></span>
                            </span>
                            <span class="row">
                              <span class="col">Valid Date</span>
                              <span class="col float-right" id="js-dataset-testing-valid-date"></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col-12">
                          <p>Add Dataset</p>

                          <button type="button" class="btn btn-success" id="js-add-dataset-testing-button"
                            data-toggle="modal" data-target="#js-add-testing-dataset-modal">Add Dataset</button>
                        </div>
                      </div>
                      <!-- <div class="form-group">
                        <div class="row">
                          <div class="col">
                            <h2>Dataset Template</h2>
                            <p><a href="{% static 'document/template.xlsx' %}" download> Click to Download Template </a>
                            </p>
                          </div>
                        </div>
                        <label for="dataset-predict" class="form-control-label">
                          Dataset File
                          <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                            title="Select e-commerce dataset to be predict by selected or trained model"></i>
                        </label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="dataset-predict" name='dataset_predict'
                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                          <label class="custom-file-label" for="customFileLang"></label>
                        </div>
                      </div> -->
                    </div>
                    <div class="button-row d-flex mt-4">
                      <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                      <button class="btn btn-success ml-auto" type="submit" title="Send">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="js-result-panels">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Javanese Island Poverty Mapping</h6>
              <h5 class="h3 mb-0"></h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="poverty-mapping"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1"></h6>
              <h5 class="h3 mb-0">Model Result Detail</h5>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-sm float-right" id="js-save-model-button"
                data-toggle="modal" data-target="#js-save-model-modal">
                <i data-toggle="tooltip" title="Save the new model" class="fas fa-save"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <span class="row">
            <span class="col">Best R<sup>2</sup></span>
            <span class="col float-right" id="js-r2"></span>
          </span>
          <span class="row">
            <span class="col">Best RMSE</span>
            <span class="col float-right" id="js-rmse"></span>
          </span>
          <span class="row">
            <span class="col">Regularization (C)</span>
            <span class="col float-right" id="js-regularization"></span>
          </span>
          <span class="row">
            <span class="col">Epsilon</span>
            <span class="col float-right" id="js-epsilon"></span>
          </span>
          <span class="row">
            <span class="col">Feature Used</span>
            <span class="col float-right" id="js-feature_num"></span>
          </span>
          <span class="row">
            <span class="col">Most Relevant Features:</span>
          </span>
          <div class="row">
            <div class="col" id="js-sorted_feature"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-7">
      <div class="card" id="js-chart-box">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1"></h6>
              <h5 class="h3 mb-0">Result Chart</h5>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <div class="card-body">
          <img src="" alt="" id="js-result_chart" class="img-fluid">
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-light text-uppercase ls-1 mb-1">Cities Poverty Rate</h6>
              <h5 class="h3 mb-0"></h5>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive table-hover point_row_table">
            <div>
              <table class="table align-items-center" id="js-poverty-result">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">City</th>
                    <th scope="col">Province</th>
                    <th scope="col">Poverty Rate</th>
                  </tr>
                </thead>
                <tbody class="list"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal simpan model-->
  <div class="modal fade" id="js-save-model-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/predicts/api/save_model/" id="new-model-name-form">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Save New Model</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="new-model-name" class="form-control-label">
                New Model Name
              </label>
              <input type="text" class="form-control" id="new-model-name" name="name"
                placeholder="Pick a Name For The New Model">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal simpan dataset training -->
  <div class="modal fade" id="js-add-training-dataset-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="js-new-training-dataset-form">
          <input type="hidden" name="type" value="training">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add New Training Dataset</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="new-dataset-name" class="form-control-label">
                New Model Name
              </label>
              <input type="text" class="form-control" id="new-dataset" name="name"
                placeholder="Pick a Name For The New Model" required>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <h2>Dataset Template</h2>
                  <p><a href="{% static 'document/template.xlsx' %}" download> Click to Download Template </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="dataset-source" class="form-control-label">Dataset File</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="dataset-source" name='source_file'
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  required>
                <label class="custom-file-label" for="customFileLang">Select file</label>
              </div>
            </div>
            <div class="form-group">
              <label for="dataset-data" class="form-control-label">Dataset Valid Date</label>
              <input type="date" class="form-control" id="dataset-data" name="valid_date" placeholder="Dataset Date"
                required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save dataset</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal simpan dataset testing -->
  <div class="modal fade" id="js-add-testing-dataset-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="js-new-testing-dataset-form">
          <input type="hidden" name="type" value="testing">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add New Predictable Dataset</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="new-dataset-name" class="form-control-label">
                New Model Name
              </label>
              <input type="text" class="form-control" id="new-dataset" name="name"
                placeholder="Pick a Name For The New Model" required>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <h2>Dataset Template</h2>
                  <p><a href="{% static 'document/template.xlsx' %}" download> Click to Download Template </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="dataset-source" class="form-control-label">Dataset File</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="dataset-source" name='source_file'
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  required>
                <label class="custom-file-label" for="customFileLang">Select file</label>
              </div>
            </div>
            <div class="form-group">
              <label for="dataset-data" class="form-control-label">Dataset Valid Date</label>
              <input type="date" class="form-control" id="dataset-data" name="valid_date" placeholder="Dataset Date"
                required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save dataset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</div>
{% endblock %}

{% block footer_js %}
<script src="{% static 'admin_argon/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin_argon/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'select2/select2.min.js' %}"></script>
<script src="{% static 'multistep-form/script.js' %}"></script>
<script src="{% static 'js/predicts/predictor.js' %}"></script>
<script src="{% static 'js/predicts/javanese_regions.js' %}"></script>
{% endblock %}